old-version-code/NRflow0-5-0.json
[{"id":"e42010beae8f7fa5","type":"group","z":"1cc7d2e94a4815fe","name":"Octopus Agile Prices","style":{"label":true,"stroke":"#6f2fa0","fill":"#dbcbe7","color":"#001f60"},"nodes":["db6ebccc4bb88b8d","63bba87f93e0eaae","65094b21c3938d73","22fdc0bfd7bdd329","3c0e6412766b7286","0ba1d9b378092267","416e22ecfcbf5616","ce579e86db6fcc9b","be04e63b7258b035","4430da6cfe290e39","3797b648d315c3a1","bc4c506918ed4d9e","b98e955f8996efa2","c63c0e9f64999a1e","a28359905d33b762","59f0bbc0e3c76b0d","aa94392fea62febc","87bddd29d5e5ab90","224dc5d34ebe8967","8a65a4744d5f228a","3c01c3e92c0898b2","03b0c5c88010997c","339092c8ec953466","d8bb3057287698de","a92b801c291d33d0","56dd710454ea2e25","ee45b426f60a08a0","a9942de6076269cf"],"x":94,"y":139,"w":982,"h":462},{"id":"db6ebccc4bb88b8d","type":"http request","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Octopus Export","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.octopus.energy/v1/products/AGILE-OUTGOING-19-05-13/electricity-tariffs/E-1R-AGILE-OUTGOING-19-05-13-L/standard-unit-rates/?page_size=96","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":380,"y":260,"wires":[["65094b21c3938d73"]]},{"id":"63bba87f93e0eaae","type":"http request","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Octopus Import","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.octopus.energy/v1/products/AGILE-22-08-31/electricity-tariffs/E-1R-AGILE-22-08-31-L/standard-unit-rates/?page_size=96","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":380,"y":220,"wires":[["22fdc0bfd7bdd329"]]},{"id":"65094b21c3938d73","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Results","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"export","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":260,"wires":[["3c0e6412766b7286"]]},{"id":"22fdc0bfd7bdd329","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Results","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.results","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"import","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["3c0e6412766b7286"]]},{"id":"3c0e6412766b7286","type":"join","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Combine","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":700,"y":220,"wires":[["416e22ecfcbf5616"]]},{"id":"0ba1d9b378092267","type":"inject","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"@ 16:05","props":[{"p":"payload"}],"repeat":"","crontab":"05 16 * * *","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["db6ebccc4bb88b8d","63bba87f93e0eaae"]]},{"id":"416e22ecfcbf5616","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Build & Save Tariff Array","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.import#$i.{\t   \"from\": valid_from,\t   \"upto\": valid_to,\t   \"date\": $substring(valid_from,0,10),\t   \"timefrom\": $substring(valid_from,11,5),\t   \"timeupto\": $substring(valid_to,11,5),\t   \"import\": value_inc_vat,\t   \"export\": %.export[$i].value_inc_vat\t}^(from)","tot":"jsonata"},{"t":"set","p":"OctAgileTariff","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":220,"wires":[["56dd710454ea2e25"]]},{"id":"ce579e86db6fcc9b","type":"comment","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Octopus agile prices (2 days) JSONata V2.0.0","info":"","x":290,"y":180,"wires":[]},{"id":"be04e63b7258b035","type":"ha-sensor","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Octopus Agile Prices","entityConfig":"893ae24be6da2123","version":0,"state":"agile.now.from","stateType":"msg","attributes":[{"property":"array","value":"payload","valueType":"msg"},{"property":"import","value":"agile.now.import","valueType":"msg"},{"property":"export","value":"agile.now.export","valueType":"msg"},{"property":"import_next","value":"agile.next.import","valueType":"msg"},{"property":"export_next","value":"agile.next.export","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":920,"y":560,"wires":[[]],"server":""},{"id":"4430da6cfe290e39","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Value Now","rules":[{"t":"set","p":"agile","pt":"msg","to":"(\t   /* function to add <delta> minutes to now */\t   $tstep:=function($mdelta) {\t       $fromMillis($toMillis($now())+$mdelta*60000)\t   };\t\t   /* function to build key value from timestamp                         */\t   /* strip fraction of seconds, floor minutes to 00 or 30, zero seconds */\t   $keyis:=function($ts) {\t       (\t           $t:=$replace($ts, /(\\.[0-9]+)/, '');\t           $m:=$substring($t,-6,2).$number()<30 ? '00': '30';\t           $substring($t,0,14) & $m & \":00\" & $substring($t,-1);\t           )\t   };\t\t   /* return object of 'now' and 'next' value objects */\t   {\t       \"now\": payload[from=$keyis($now())],\t       \"next\": payload[from=$keyis($tstep(30))]\t   };\t   )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":560,"wires":[["be04e63b7258b035"]]},{"id":"3797b648d315c3a1","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Read Array","rules":[{"t":"set","p":"payload","pt":"msg","to":"OctAgileTariff","tot":"flow","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["4430da6cfe290e39"]]},{"id":"bc4c506918ed4d9e","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Import Low","rules":[{"t":"set","p":"topic","pt":"msg","to":"import","tot":"str"},{"t":"set","p":"sample","pt":"msg","to":"15","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"/* look at latest prices, sorted by ascending import cost     */\t/* pick the lowest <sample size>, create new object for each  */\t/* with {date, from, upto, cost} Sort by date & time          */\t\tpayload[[48..95]]^(import)[[0..$$.sample-1]].{\t   \"from\": from,\t   \"upto\": upto,\t   \"date\": date,\t   \"timefrom\": timefrom,\t   \"timeupto\": timeupto,\t   \"value\": import\t}^(from)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["aa94392fea62febc"]]},{"id":"b98e955f8996efa2","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Read Array","rules":[{"t":"set","p":"payload","pt":"msg","to":"OctAgileTariff","tot":"flow","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":360,"wires":[["bc4c506918ed4d9e","a28359905d33b762"]]},{"id":"c63c0e9f64999a1e","type":"inject","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Manual","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":320,"wires":[["b98e955f8996efa2"]]},{"id":"a28359905d33b762","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Export High","rules":[{"t":"set","p":"topic","pt":"msg","to":"export","tot":"str"},{"t":"set","p":"sample","pt":"msg","to":"15","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"/* for export values - as for import but */\t/* sorted from highest to lowest, top <n> */\t\tpayload[[48..95]]^(>export)[[0..$$.sample-1]].{\t   \"from\": from,\t   \"upto\": upto,\t   \"date\": date,\t   \"timefrom\": timefrom,\t   \"timeupto\": timeupto,\t   \"value\": export\t}^(from)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["aa94392fea62febc"]]},{"id":"59f0bbc0e3c76b0d","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Groups","rules":[{"t":"set","p":"payload","pt":"msg","to":"/* get start and end indexes, and zip into a sequence array of [start, end]                */\t/* map this array of sequences to an array of objects, one for each sequence to include    */\t/* sequence number, index range, date, start time, stop time, count of half-hours          */\t/* duration, and average (sum of values in sequence divided by count of items in sequence) */\t\t(\t   $chain:=$zip(payload[position=\"start\"].index, payload[position=\"end\"].index);\t   $map($chain, function($item, $index) {\t       (\t        $aa:=payload[$a:=$item[0]];\t        $bb:=payload[$b:=$item[1]];\t        $count:=$b-$a+1;\t        {\t        \"mode\": topic,\t        \"sample\": sample,\t        \"sequence\": $index+1,\t        \"range\": ($a+1) & \"-\" & ($b+1),\t        \"from\": $aa.from,\t        \"upto\":  $bb.upto,\t        \"date\": $aa.date,\t        \"timefrom\": $aa.timefrom,\t        \"timeupto\": $bb.timeupto,\t        \"periods\": $count,\t        \"duration\": $count*30,\t        \"average\": $round(($sum(payload[[$a..$b]].value)/$count)*1000)/1000\t    })\t   })^(from)[];\t)\t\t/* (>duration) gets longest periods first, however (from) sorts           */\t/* chronologically, which is required for correct display on tariff graph */\t/* final [] places result into an array even if only one sequence group   */\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["8a65a4744d5f228a"]]},{"id":"aa94392fea62febc","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Sequence V2","rules":[{"t":"set","p":"payload","pt":"msg","to":"/* For Version 2 - variable change needed  */\t/* note index position, and test if items  */\t/* are consecutive - forwards and backwards */\t/* set position as only, start, mid, end */\t\tpayload#$v.(\t   $last:=$v<1 ? false : from=%.payload[$v-1].upto;\t   $next:=upto=%.payload[$v+1].from;\t   $position:=(\t       $last ? ($next ? \"middle\" : \"end\") : ($next ? \"start\" : \"only\")\t   );\t   {\t       \"from\": from,\t       \"upto\": upto,\t       \"date\": date,\t       \"timefrom\": timefrom,\t       \"timeupto\": timeupto,\t       \"value\": value,\t       \"index\": $v,\t       \"link_last\": $last,\t       \"link_next\": $next,\t       \"position\": $position\t}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["59f0bbc0e3c76b0d","224dc5d34ebe8967"]]},{"id":"87bddd29d5e5ab90","type":"link in","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Daily","links":["56dd710454ea2e25"],"x":245,"y":400,"wires":[["bc4c506918ed4d9e","a28359905d33b762"]]},{"id":"224dc5d34ebe8967","type":"join","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":360,"wires":[["3c01c3e92c0898b2"]]},{"id":"8a65a4744d5f228a","type":"join","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Join","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":460,"wires":[["a92b801c291d33d0"]]},{"id":"3c01c3e92c0898b2","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Save Best","rules":[{"t":"set","p":"OctAgileBest","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[[]]},{"id":"03b0c5c88010997c","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Save Period","rules":[{"t":"set","p":"OctAgilePeriod","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":420,"wires":[[]]},{"id":"339092c8ec953466","type":"ha-sensor","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Octopus Agile Sequences","entityConfig":"6f8158bd34274dd3","version":0,"state":"$count(payload.export) + $count(payload.import)","stateType":"jsonata","attributes":[{"property":"export_array","value":"payload.export","valueType":"msg"},{"property":"import_array","value":"payload.import","valueType":"msg"},{"property":"both_array","value":"payload.both","valueType":"msg"},{"property":"bid_offer_spread","value":"$min(payload.import.average)-$max(payload.export.average)","valueType":"jsonata"}],"inputOverride":"allow","outputProperties":[],"x":910,"y":460,"wires":[[]],"server":""},{"id":"d8bb3057287698de","type":"link in","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Daily","links":["56dd710454ea2e25"],"x":615,"y":540,"wires":[["4430da6cfe290e39"]]},{"id":"a92b801c291d33d0","type":"change","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Table","rules":[{"t":"set","p":"payload.both","pt":"msg","to":"$append(payload.import, payload.export)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["03b0c5c88010997c","339092c8ec953466"]]},{"id":"56dd710454ea2e25","type":"link out","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Daily Update","mode":"link","links":["87bddd29d5e5ab90","d8bb3057287698de"],"x":1035,"y":220,"wires":[]},{"id":"ee45b426f60a08a0","type":"inject","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"Half Hour","props":[{"p":"payload"}],"repeat":"","crontab":"*/30 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":560,"wires":[["a9942de6076269cf"]]},{"id":"a9942de6076269cf","type":"delay","z":"1cc7d2e94a4815fe","g":"e42010beae8f7fa5","name":"10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":560,"wires":[["3797b648d315c3a1"]]},{"id":"893ae24be6da2123","type":"ha-entity-config","server":"","deviceConfig":"","name":"SC Oct Agile Prices","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Octopus Agile Prices"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"6f8158bd34274dd3","type":"ha-entity-config","server":"","deviceConfig":"","name":"SC Oct Agile Seq","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Octopus Agile Sequence Table"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false}]
